<h3><strong>Computer Science & Security</strong></h3>
<ul>
    <li>
        <strong>
            정보보안 전문가란? 무엇을 하고 어떻게 준비해야 할까.&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%A0%95%EB%B3%B4%EB%B3%B4%EC%95%88-%EC%A0%84%EB%AC%B8%EA%B0%80/dashboard">Inflean</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            누구도 알려주지 않던 화이트 해커가 되기 위한 로드맵 A to Z&ensp;
            <sup><a href="https://www.inflearn.com/course/%ED%99%94%EC%9D%B4%ED%8A%B8-%ED%95%B4%EC%BB%A4-%EB%A1%9C%EB%93%9C%EB%A7%B5-a-to-z/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-334458-14752226">Certificate</a>
        </strong>
    </li>

    <li>
        <strong>
            컴알못이 보는 컴퓨터 하드웨어 기초상식&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%BB%B4%ED%93%A8%ED%84%B0-%ED%95%98%EB%93%9C%EC%9B%A8%EC%96%B4-%EA%B8%B0%EC%B4%88%EC%83%81%EC%8B%9D/dashboard">Inflean</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            개발자를 위한 컴퓨터공학 1: 혼자 공부하는 컴퓨터구조 + 운영체제&ensp;
            <sup><a href="https://www.inflearn.com/course/%ED%98%BC%EC%9E%90-%EA%B3%B5%EB%B6%80%ED%95%98%EB%8A%94-%EC%BB%B4%ED%93%A8%ED%84%B0%EA%B5%AC%EC%A1%B0-%EC%9A%B4%EC%98%81%EC%B2%B4%EC%A0%9C/dashboard">Inflean</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>OS & Network</strong></h3>
<ul>
    <li>
        <strong>
            개발자를 위한 쉬운 리눅스&ensp;
            <sup><a href="https://www.inflearn.com/course/%EA%B0%9C%EB%B0%9C%EC%9E%90%EB%A5%BC-%EC%9C%84%ED%95%9C-%EC%89%AC%EC%9A%B4-%EB%A6%AC%EB%88%85%EC%8A%A4/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://bangjeongbin.github.io/TIL-Blog/posts/note-taking-inflearn-easy-linux-for-developer">Review</a>
        </strong>
    </li>
    
    <li>
        <strong>
            혼자 공부하는 컴퓨터 구조+운영체제&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000061584886">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            [인프런 X 생활코딩] HTML과 인터넷&ensp;
            <sup><a href="https://www.inflearn.com/course/html%EA%B3%BC-%EC%9D%B8%ED%84%B0%EB%84%B7-%EC%83%9D%ED%99%9C%EC%BD%94%EB%94%A9/dashboard">Inflean</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>Web & Cloud Security</strong></h3>
<ul>
    <li>
        <strong>
            아마존 웹 서비스 AWS Discovery Book - 클라우드 서비스 개념을 이해하고 직접 구성해보기&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000000833222">Book</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<!-- <h3><strong>Security Research & Penetration Testing</strong></h3>              모의해킹, 취약점 분석, 악성코드 분석 ==> 공격관련   //  방어관련은 Web & Cloud Security 여기에
<ul>
    <li>
        <strong>
            <a href="https://product.kyobobook.co.kr/detail/S000000833222">
                아마존 웹 서비스 AWS Discovery Book - 클라우드 서비스 개념을 이해하고 직접 구성해보기</a>&ensp;<sup>Book</sup></strong>
    </li>
</ul> -->

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>Programming</strong></h3>
<ul>
    <li>
        <strong>
            Do it! HTML5+CSS3 웹 표준의 정석&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001817955">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            파이썬 코딩 도장&ensp;
            <sup><a href="https://dojang.io/course/view.php?id=7">Online Course</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            [입문반] 핵심 파이썬 with Cursor&ensp;
            <sup><a href="https://www.inflearn.com/course/%ED%95%B5%EC%8B%AC-%ED%8C%8C%EC%9D%B4%EC%8D%AC-cursor/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-336783-14349314">Certificate</a>
            &ensp;/ <a href="https://github.com/BangJeongBin/inflearn_cpk">Github</a>
        </strong>
    </li>

    <li>
        <strong>
            혼자 공부하는 자바 - 1:1 과외하듯 배우는 프로그래밍 자습서&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000212216152">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            김영한의 자바 입문 - 코드로 시작하는 자바 첫걸음&ensp;
            <sup><a href="https://www.inflearn.com/course/%EA%B9%80%EC%98%81%ED%95%9C%EC%9D%98-%EC%9E%90%EB%B0%94-%EC%9E%85%EB%AC%B8/dashboard">Inflean</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            김영한의 실전 자바 - 기본편&ensp;
            <sup><a href="https://www.inflearn.com/course/%EA%B9%80%EC%98%81%ED%95%9C%EC%9D%98-%EC%8B%A4%EC%A0%84-%EC%9E%90%EB%B0%94-%EA%B8%B0%EB%B3%B8%ED%8E%B8">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-332506-14294768">Certificate</a>
        </strong>
    </li>

    <li>
        <strong>
            스프링 핵심 원리 - 기본편&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%ED%95%B5%EC%8B%AC-%EC%9B%90%EB%A6%AC-%EA%B8%B0%EB%B3%B8%ED%8E%B8">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-325969-14294769">Certificate</a>
            &ensp;/ <a href="https://github.com/BangJeongBin/core">Github</a>
        </strong>
    </li>

    <li>
        <strong>
            Spring Boot와 React로 배우는 초간단 REST API 게시판 만들기&ensp;
            <sup><a href="https://www.inflearn.com/course/springboot-react-restapi-%EA%B2%8C%EC%8B%9C%ED%8C%90%EB%A7%8C%EB%93%A4%EA%B8%B0/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-336436-14474200">Certificate</a>
            &ensp;/ <a href="https://github.com/BangJeongBin/react_p">Github</a>
        </strong>
    </li>
    
    <li>
        <strong>
            모던 리액트 - 리액트의 핵심 개념과 동작 원리부터 Next.js까지, 리액트의 모든 것&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000210725203">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            스프링 부트 3 자바 백엔드 개발 입문 - 만들면서 배우는 친절한 백엔드 개발 자습서&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000202971420">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            최범균의 JSP 2.3 웹 프로그래밍: 기초부터 중급까지&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001248937">Book</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>AI & Database</strong></h3>
<ul>
    <li>
        <strong>
            Do it! MySQL로 배우는 SQL 입문&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000212852292">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            AI 이후의 세계&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000201553092">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            새로운 질서&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000217034988">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            마침내 특이점이 시작된다 - 인류가 AI와 결합하는 순간&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000216740028">Book</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>Tools & Platforms</strong></h3>
<ul>
    <li>
        <strong>
            Git & GitHub, 원리부터 차근차근 - 근본깃 [기초편]&ensp;
            <sup><a href="https://www.inflearn.com/course/git-github-%EC%9B%90%EB%A6%AC%EB%B6%80%ED%84%B0-%EC%B0%A8%EA%B7%BC%EC%B0%A8%EA%B7%BC-%EA%B7%BC%EB%B3%B8%EA%B9%83%EB%AC%B4%EB%A3%8C">Inflean</a></sup>
            &ensp;/ <a href="https://bangjeongbin.github.io/TIL-Blog/posts/review-online-academy-inflearn-git-and-github-from-the-principle-step-by-step">Review</a>
        </strong>
    </li>

    <li>
        <strong>
            도커 교과서 - 설치부터 실전 운영 투입까지, 한 권에 담았다!&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000061584674">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            실리콘밸리 엔지니어와 함께하는 Docker&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%8B%A4%EB%A6%AC%EC%BD%98%EB%B0%B8%EB%A6%AC-%EC%97%94%EC%A7%80%EB%8B%88%EC%96%B4-%EB%8F%84%EC%BB%A4/dashboard">Inflean</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            모두의 깃&깃허브 - 누구나 쉽게 시작하는 git&github 버전 관리&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000061450151">Book</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>Books</strong></h3>
<ul>
    <li>
        <strong>
            세상을 만드는 글자, 코딩 - 창의와 소통을 위한 코딩 인문학&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000000970981">Book</a></sup>
            &ensp;/ <a href="https://bangjeongbin.github.io/TIL-Blog/posts/review-book-coding-letters-that-make-the-world">Review</a>
        </strong>
    </li>

    <li>
        <strong>
            수학의 쓸모 - 불확실한 미래에서 보통 사람들도 답을 얻는 방법&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001834374">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            개발자 기술 면접 노트 - 20년 차 카카오 면접관의 빅테크 기업 취업/이직 가이드&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000216231695">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            2040 위대한 격차의 시작 - 기술의 진화가 기하급수적 차이를 만든다&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000211879289">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            개발자 원칙 - 테크 리더 9인이 말하는 더 나은 개발자로 살아가는 원칙과 철학&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000214054310">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            함께 자라기 - 애자일로 가는 길&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001033071">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            Hello Coding 알고리즘 - 그림으로 개념을 이해하는&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001057739">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            IT 5분 잡학사전 - 학교에서 알려 주지 않는 IT 지식&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000061897447">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            통찰, 평범에서 비범으로&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000000733618">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            컴퓨터과학이 여는 세계&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000001033013">Book</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            AI시대, 개발자로 살아가기&ensp;
            <sup><a href="https://product.kyobobook.co.kr/detail/S000208585841">Book</a></sup>
        </strong>
    </li>
</ul>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<h3><strong>etc.</strong></h3>
<ul>
    <li>
        <strong>
            예제로 공부하는 Python 100 문제풀이 Part.3&ensp;
            <sup><a href="https://www.inflearn.com/course/%ED%8C%8C%EC%9D%B4%EC%8D%AC-100%EC%A0%9C-3/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-326828-13458287">Certificate</a>
        </strong>
    </li>

    <li>
        <strong>
            예제로 공부하는 Python 100 문제풀이 Part.2&ensp;
            <sup><a href="https://www.inflearn.com/course/%ED%8C%8C%EC%9D%B4%EC%8D%AC-100%EC%A0%9C-2/dashboard">Inflean</a></sup>
            &ensp;/ <a href="https://www.inflearn.com/certificate/1495440-326827-13458286">Certificate</a>
        </strong>
    </li>

    <li>
        <strong>
            시니어 면접관이 알려주는 개발자 취업과 이직 한방에 해결하기 [이론편-이력서편]&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%8B%9C%EB%8B%88%EC%96%B4-%EB%A9%B4%EC%A0%91%EA%B4%80-%EC%95%8C%EB%A0%A4%EC%A3%BC%EB%8A%94-%EC%B7%A8%EC%97%85-%EC%9D%B4%EC%A7%81-%EC%9D%B4%EB%A1%A0-%EB%AC%B4%EB%A3%8C/dashboard">Inflean</a></sup>
        </strong>
    </li>

    <li>
        <strong>
            윤파고의 정보처리기사 DB/프로그래밍 All-In-One&ensp;
            <sup><a href="https://www.inflearn.com/course/%EC%A0%95%EB%B3%B4%EC%B2%98%EB%A6%AC%EA%B8%B0%EC%82%AC-db-%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/dashboard">Inflean</a></sup>
        </strong>
    </li>
</ul>
