<ul>
    <li>
        2024.10.7 ~ 2025.4.17
        <ul>
            <li>
                중앙정보기술인재개발원 - "프로젝트 기반 자바(JAVA) 응용 SW개발" 과정 수료
            </li>
        </ul>
    </li>
</ul>

<ul>
    <li>
        2019.3.4 ~ 2024.8.16
        <ul>
            <li>
                경동대학교 - 호텔조리학과 학사졸업
            </li>
        </ul>
    </li>
</ul>

<ul>
    <li>
        2020.1.7 ~ 2021.7.19
        <ul>
            <li>
                육군 - 병장 만기전역
            </li>
        </ul>
    </li>
</ul>

<ul>
    <li>
        2016.3.2 ~ 2019.1.3
        <ul>
            <li>
                서울관광고등학교 - 조리학과 졸업
            </li>
        </ul>
    </li>
</ul>