---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
  <h4><i class="bi bi-envelope-at"></i>&nbsp; : bangjungbin@gmail.com</h4>
    <p>{{ site.description }}</p>
  {% endif %}
</header>

<hr>

{{ content }}<br>

<!-- 사용 기술스택 -->
  <h2><i class="bi bi-wrench-adjustable"></i>&emsp; Tech Stack and Tools</h2>
  {% include tech_stack.html %}<br>

  <hr>

<!-- 경력 리스트 (이후 추가 예정)-->
  <!-- <h2><i class="bi bi-buildings"></i>&emsp; Career</h2>
  {% include career_list.html %}<br> -->

<!-- Portfolio -->
{% if site.theme_config.show_projects == true %}
  <h2><i class="bi bi-github"></i>&emsp; {{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}<br>

<hr>

<!-- 학력 리스트 -->
<h2><i class="bi bi-mortarboard"></i>&emsp; Education</h2><br>
{% include education_list.html %}<br>

<hr>

<!-- 자격증 리스트 -->
<h2><i class="bi bi-person-vcard"></i>&emsp; Certificate</h2><br>
{% include certificate_list.html %}<br>

<hr>

<!-- Details -->
<!-- {% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}<br> -->

<!-- Blog -->
<!-- {% if site.theme_config.show_blog == true %}
  <h2><i class="bi bi-book"></i>&emsp; {{ site.theme_config.home.title_blog }}</h2><br>
  {% include post_list.html %}
{% endif %}<br> -->

<!-- 관련활동 리스트 -->
<h2><i class="bi bi-display"></i>&emsp; Extra Activities</h2><br>
{% include activities_list.html %}<br>

<!-- Old Projects -->
<!-- {% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}<br> -->


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
